.git/
.local/
external/

**/.env
**/.env.*
!**/env.example

**/.venv/
**/node_modules/
**/__pycache__/
**/.pytest_cache/
**/.ruff_cache/
**/.mypy_cache/
**/.pyright/
**/dist/
**/build/
**/.DS_Store
**/.vscode/
**/.idea/
