flyway.url=jdbc:postgresql://localhost:{PORT}/{POSTGRES_DB} # Get values from docker-compose.yml
flyway.user={POSTGRES_USER} # Get value from docker-compose.yml
flyway.password={POSTGRES_PASSWORD} # Get value from docker-compose.yml
flyway.cleanDisabled=true
