CORS_ORIGIN_LIST="http://localhost:9000,http://127.0.0.1:9000,http://172.19.0.1:9000,http://192.168.1.22:9000"
CONNECTION_STRING="postgres://{POSTGRES_USER}:{POSTGRES_PASSWORD}@0.0.0.0:{PORT}/{POSTGRES_DB}" # Get values from docker-compose.yml
PEPPERS="fmgXvsChQsx9fAlq0DPiVg=="
SPECIALLY_AUTHORIZED_PHONES="+33612345678,+12345678910"
VERIFICATOR_SVC_BASE_URL="http://verificator-svc"
# NOSTR_PROOF_CHANNEL_EVENT_ID="6cde92f2a057368e4871d5dac0f830e09f399bad666a2070e4c4c6c40d235667"
# NOSTR_DEFAULT_RELAY_URL="wss://nos.lol"
POLIS_BASE_URL="http://127.0.0.1:5000"
PORT=8084
SERVER_DID_DEV=did:web:localhost%3A8084
