VITE_API_BASE_URL="http://localhost:8084" // backend API endpoint
VITE_BACK_DID="did:web:localhost%3A8084" // update with custom URL and port -- must match that of backend
VITE_DEV_AUTHORIZED_PHONES="+33612345678,+12345678910" // comma list of authorized phone numbers for testing -- must match that of backend
