// app global css in SCSS form
@font-face {
  font-family: AlbertSans;
  font-style: normal;
  src: url("./fonts/Albert_Sans/AlbertSans-VariableFont_wght.ttf");
}
@font-face {
  font-family: AlbertSans;
  font-style: italic;
  src: url("./fonts/Albert_Sans/AlbertSans-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: AlbertSans;
  font-style: oblique;
  src: url("./fonts/Albert_Sans/AlbertSans-Italic-VariableFont_wght.ttf");
}

body {
  /* inspiration from existing apps for the fallback list */
  font-family:
    AlbertSans,
    InterSans,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  font-optical-sizing: auto;
  font-size: 0.9rem;
  background-color: $app-background-color;
  color: rgb(24, 28, 31);
  line-height: normal;
}

a {
  text-decoration: none;
}

html {
  overscroll-behavior: none;
  overflow-y: scroll;
}
