// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #6b4eff;
$secondary: #26a69a;
$accent: #0e7490;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #d3180c;
$info: #31ccec;
$warning: #f79327;

$color-text-strong: rgb(51, 61, 66);
.text-color-text-strong {
  color: $color-text-strong !important;
}

.bg-color-text-strong {
  background: $color-text-strong !important;
}

$color-text-weak: rgb(92, 108, 116);
.text-color-text-weak {
  color: $color-text-weak !important;
}

.bg-color-text-weak {
  background: $color-text-weak !important;
}

$button-background-color: #e7e7ff;
.text-button-background-color {
  color: $button-background-color !important;
}

.bg-button-background-color {
  background: $button-background-color !important;
}

$app-background-color: #f6f5f8;

$mouse-hover-color: #e2e8f0;
$mouse-hover-transition: background-color 0.2s ease;

$feed-flex-gap: 0.5rem;

.text-button-disagree-background-unselected {
  color: #ffefd7 !important;
}
.bg-button-disagree-background-unselected {
  background: #ffefd7 !important;
}

.text-button-agree-background-unselected {
  color: #e7e7ff !important;
}
.bg-button-agree-background-unselected {
  background: #e7e7ff !important;
}

.text-button-disagree-background-selected {
  color: #ffb323 !important;
}
.bg-button-disagree-background-selected {
  background: #ffb323 !important;
}

.text-button-agree-background-selected {
  color: #6b4eff !important;
}
.bg-button-agree-background-selected {
  background: #6b4eff !important;
}

$gradient-hero: linear-gradient(#6b4eff, #4f92f6);
$gradient-hover: linear-gradient(#836bff, #5c9dff);
$gradient-pressed: linear-gradient(#5c43dd, #4582dd);
$container-padding: 1.5rem;

// Import hover effects styles to make mixins available globally
@import "./hover-effects";
